body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#container {
    width: 10000px;
    height: 100vh;
    position: relative;
    transform: translateX(-5000px);
    overflow: scroll;
}

.line {
  display: inline-block;
}

.phrase {
  padding: 0 10px;
}

.search-container {
    position: absolute;
    left: calc(50% - 150px);
    top: calc(50% - 40px);
    width: 300px;
    height: 80px;
    border-radius: 20px;
    border-color: #004E5F;
    border-width: 2px;
    border-style: solid;
    background-color: #f2f2f2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-input {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 16px;
}

.search-input::placeholder {
    color: #aaa;
}
